<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a Player</title>
</head>
<body>
    <form th:action="@{/football/player-edit}" th:object="${footballer}" method="POST">
        <table>
            <tr>
                <td>ID:</td>
                <td><input type="text" th:field="*{id}" name="id" ></td>
            </tr>
            <tr>
                <td>Full Name:</td>
                <td><input type="text" th:field="*{fullName}" name="fullName"></td>
            </tr>
            <tr>
                <td>Position:</td>
                <td><input type="text" th:field="*{position}" name="position"></td>
            </tr>
            <tr>
                <td>Ratings:</td>
                <td><input type="text" th:field="*{ratings}" name="ratings"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Update"></td>
                
            </tr>
        </table>
    </form>
</body>
</html>